/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
  
}

/* main body font, color and background picture */
body {

    text-decoration-color: #aad4cf;
    background-color: #aad4cf;
    font-family: sans-serif;    
    background-image: url(/midterm/images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    font-weight: 540;
}

/* h1 styling */
h1 {
    color: white;
    text-align: center;    
    font-weight: lighter;
    font-size: 63px;
    margin: 0 0 36px 0;
    padding: 0;
    font-family: "Franklin ITC",sans-serif;
}

/* story styling */

p {
    text-align: left;   
    margin: 0 0 36px 0;
    padding: 0;
    font-family: "Franklin ITC",sans-serif;
    line-height: 1.3rem; 
}



.contact{
margin: 1.5%;
    padding: 1.5%;
    font-family: "Franklin ITC",sans-serif;
    border: 2px solid black;
}

.box{
    margin-top: 1%;
    width: 950px;    
}

#boxthree{
    height: 100px;
}

#question{
    margin-top: 2%;
    margin-bottom: 0%;
}


.navoption{
    text-decoration: none;
}

nav li{
    display: inline;
}

nav {
    position: relative;
    text-align: center;
    word-spacing: 100px;
    font-size: 28pt;
}
 

article{
    margin-left: 16.25%;
    margin-top: 18%;
    background-color: #daf8f5;
    margin-right: 16.25%  
}


figure img{
    width: 25%;
    height: auto;
    display: block;
    position: relative;
    float: left;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

h2{
    text-align: left;
    font-weight: bold;
    font-size: 30pt;
    position: relative;
    margin-left: 1.5%;
    margin-top: 4%;
}

.main{
  margin: 1.5%;
}

.facts{
    margin: 1.5%
}

.facts h3{
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 1%;
}

.facts li{
    list-style-type: disc;
    margin-left: 1.5%;
}

button{
    margin-top: 1.5%;
}
